node_modules/

dist/

.env
.env.*
*.env
.env.local
.env.*.local

# Logs / OS junk
*.log
logs/
.DS_Store
Thumbs.db
.idea/
.vscode/

# Version control
.git/
.gitignore

# Docs / dev files (not needed in image)
*.md
CHANGELOG*
LICENSE*
dockerfile
.dockerignore
